body{
    border: 1px solid;
    border-color: black;
    padding: 1px 10px 0px 10px;
    margin: 40px 30px;
    width: 150px;
}

div{
    height: 200px;
    background-color:skyblue;
.c1{
        background-color: orange;
        height: 30px;
        color: white;
        padding-left: 10px;
        padding-top: 5px;
        text-align: left;
        /*background-size: 10px;
        width: 120px;
        text-decoration-color: white;*/
}
.c2{
        color:blue;
        padding-left: 10px;
        padding-top: 5px;
        text-align: left;
}
}

