ul{
 background-color: lightgrey;
  width: 300px;
  border: 10px solid black;
  padding: 50px;
  margin: 20px;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    width: 200px;
    background-color:skyblue;
  }
  
  li a {
    display: block;
    color: blue;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.code {
    background-color:orange;
    color:white;
  }
  
  li a:hover:not(.code) {
    background-color:skyblue;
    color: white;
  }



























/*body{
    border: 1px solid;
    border-color: black;
    padding: 1px 180px 0px 3px;
}

div{
    height: 200px;
    background-color:skyblue;
.c1{
        background-color: orange;
        height: 10px;
        color: white;
        padding-left: 10px;
        padding-top: 5px;
        text-align: left;
        /*background-size: 10px;
        width: 120px;
        text-decoration-color: white;
}
.c2{
        color:blue;
        
        text-align: left;
}
}*/

